@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Poppins:wght@200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgb(252,252,252);
}

.navbar{
    padding: 1% 3%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(252,252,252);
}

.navbar img{
    width: 35px;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 5%;
}
.nav-left a{
    font-size: 18px;
    font-weight: bold;
    font-family: cursive;
    color: black;
    text-decoration: none;
    text-decoration: overline;
    text-decoration-color: orangered;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    margin-right: 30px;
    list-style-type: none;
    gap: 30px;
}

.nav-links i{
    margin-right: 10px;
    color: purple;
}

.nav-links li{
    border: 1px solid white;
    padding: 2px 5px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.nav-links li:hover{
    border: 0;
    background-color: whitesmoke;
    border: 1px solid lightblue;
}
.nav-links li a{
    text-decoration: none;
    color: grey;
    font-weight: 500;
    display: inline-block;
    position: relative;
    transform: 0.5s;
    cursor: pointer;
}

.nav-links li a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color: grey;
}

.nav-links li a:hover{
    color: black;
}
.nav-links li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.nav-links li .cart
{
    position: relative;
    /* about */
}
.nav-links li .cart span{
    position: absolute;
    top: -10px;
    right: 0;
    color: white;
    background-color: red;
    height: 15px;
    width:15px;
    font-size: 12px;
    padding: 2%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    padding: 2%;
    height: 35px;
    width:250px;
    border-radius: 50px;
    border: 1px solid lightblue;
    background-color: white;
}
.searchbar input{
    height: 30px;
    width: 200px;
    outline: none;
    border: 0;
    /* border-right: 2px solid lightblue; */
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    width: 20px;
    margin-left: 20px;
    display: none;
}
.nav-list {
    /* border: 1px solid; */
    position: absolute;
    top: 48px;
    right: 0;
    left: 0;
    z-index: 20;
    height: 0;
    width: 100vw;
    list-style: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    padding: 5% 0;
    color: grey;
    display: none;
    border-bottom:1px solid lightgrey;
    background-color: rgb(252,252,252);
}

.nav-list li{
    margin-bottom: 20px;
    /* border: 1px solid; */
    border-bottom: 1px solid purple;
    padding: 5px 0;
    width: 100px;
}

.nav-list li i{
    margin-right: 15px;
    color: purple;
}

.nav-list a{
    text-decoration: none;
    list-style-type: none;
    color: grey;
    font-size: clamp(small,medium,large);
}

.nav-list a:hover{
    font-weight: bold;
    text-decoration: black;
}

.activeList{
   display: flex;
   height: auto;
   min-height:200px ;  
}


/* accordion */

.accordion{
    width: 800px;
    background-color: white;
    padding: 45px;
    margin: 20px auto;
}
.accordion h1{
    text-align: center;
    text-decoration: underline;
}
.accordion .container{
    position: relative;
    margin: 10px 10px;
}

.accordion .label{
    position: relative;
    padding: 10px 0;
    padding-right: 25px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    font-weight: 400;
    /* border: 1px solid ; */
}

.accordion .label::before{
    content: '+';
    color: brown;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 24px;
    /* font-weight: 100; */
    transform: translateY(-50%);
}

.accordion .content{
    position: relative;
    background-color: white;
    height: 0;
    font-size: 16px;
    text-align: justify;
    overflow: hidden;
    transition: 0.5s;
    color: grey;
    /* background: #000; */
}

.accordion hr{
    width: 100;
    margin-left: 0;
    height: 1px;
    background-color: lightgrey;
    border: 0;
}

.active .accordion ,.active .container,.active .content{
    height: auto;
    min-height: 60px;
    padding: 5px;
} 

.active .accordion ,.active.container,.active .label::before{
    content: '-';
    font-size: 24px;
}

/* media queries */
@media (max-width:900px){
    .nav-links{
        display: none;
        /* display */
    }
    .searchbar{
        padding-left: 10px;
    }
    .searchbar input{
        height: 25px;
    }
    .menu{
        display: flex;
    }
    .description h3{
        font-weight: 10px;
    }
}

@media (max-width:799px){
    .accordion{
        width: 95%;
    }
}

@media (max-width:500px){
    
    .image{
        height:180px ;
    }
    .searchbar{
        width: 180px;
        height: 30px;
    }
    .searchbar input{
        width: 100%;
    }
    .searchbar img{
        width: 14px;
        margin: 0 5px;
    }
    .description p{
        font-size: 14px;
    }
    .accordion{
        padding-left:5% ;
        padding-right: 5%;
    }
    .accordion h1{
        font-size: larger;
    }
    .accordion .label{
        font-size: 16px;
        font-weight: 500;
    }
    .accordion .content{
        padding-right: 5%;
        font-size: 14px;
    }
}