:root{
    --icon-color:rgb(58, 28, 190) ;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgb(252,252,252);
}

.navbar{
    padding: 1% 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(252,252,252);
}

.navbar img{
    width: 35px;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 5%;
}
.nav-left a{
    font-size: 18px;
    font-weight: bold;
    font-family: cursive;
    color: black;
    text-decoration: none;
    text-decoration: overline;
    text-decoration-color: orangered;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    margin-right: 30px;
    list-style-type: none;
    gap: 30px;
}

.nav-links i{
    margin-right: 10px;
    color: rgb(69, 69, 190);
    
}

.nav-links li{
    border: 1px solid white;
    padding: 2px 5px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.nav-links li:hover{
    border: 0;
    background-color: whitesmoke;
    border: 1px solid lightblue;
}
.nav-links li a{
    text-decoration: none;
    color: grey;
    font-weight: 500;
    display: inline-block;
    position: relative;
    transform: 0.5s;
    cursor: pointer;
}

.nav-links li a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color: grey;
}

.nav-links li a:hover{
    color: black;
}
.nav-links li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.nav-links li .cart
{
    position: relative;
}
.nav-links li .cart span{
    position: absolute;
    top: -10px;
    right: 0;
    color: white;
    background-color: red;
    height: 15px;
    width:15px;
    font-size: 12px;
    padding: 2%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    padding: 2%;
    height: 35px;
    width:250px;
    border-radius: 50px;
    border: 1px solid lightblue;
    background-color: white;
}
.searchbar input{
    height: 30px;
    width: 200px;
    outline: none;
    border: 0;
    border-right: 2px solid lightblue;
}
.searchbar img{
    width: 20px;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    width: 20px;
    margin-left: 20px;
    /* border: 1px solid yellow; */
    display: none;
}
.nav-list {
    /* border: 1px solid; */
    position: absolute;
    top: 48px;
    right: 0;
    left: 0;
    z-index: 20;
    height: 0;
    width: 100vw;
    list-style: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    padding: 5% 0;
    color: grey;
    display: none;
    background-color: rgb(252,252,252);
    border-bottom:1px solid lightgrey;

}

.nav-list li{
    margin-bottom: 20px;
    /* border: 1px solid; */
    border-bottom: 1px solid purple;
    padding: 5px 0;
    width: 100px;
}

.nav-list li i{
    margin-right: 15px;
    color: purple;
}
.nav-list a{
    text-decoration: none;
    list-style-type: none;
    color: grey;
    font-size: clamp(small,medium,large);
}

.nav-list a:hover{
    font-weight: bold;
    text-decoration: black;
}

.activeList{
   display: flex;
   height: auto;
   min-height:200px ;  
}

/* container */
.container{
    border-radius: 10px;
    border-left: 0;
    width: 1000px;
    max-width: 1000px;
    height: auto;
    min-height: 450px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-top: 30px;
    overflow: hidden;
}

.video-container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    filter: blur(4px);
}

.video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content, form{
    width: 50%;
}
.content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: transparent;
}

.content h2{
    color: yellow;
    font-weight: bolder;
    text-decoration: underline;
    text-indent:3rem ;
    margin-bottom: 20px;
}

.content p span{
    font-weight: bold;
    color: orange;
    display: block;
}

.contact-details{
    width: 70%;
    height: auto;
    background: linear-gradient(to top,rgb(255,255,255,0.01),rgb(0,0,0,0.05));
}

.contact-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 10px;
}
.more{
    width: 80%;
}

.contact-sec i{
    border: 1px solid green;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
form{
    display: flex;
    flex-direction: column;
    border: 1px solid burlywood;
    border-left: 0;
    border-radius: 10px;
    row-gap: 7px;
    padding: 2% 3%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: black;
}
form span{
    border: 1px solid burlywood;
    border-radius: 5px;
    padding-left:10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    overflow: hidden;
}
form span i{
    color: purple;
}
form input{
    height: 40px;
    text-indent: .2rem;
    font-size: 14px;
    outline: 0;
    border: 0;
    width:95%;
    margin-left:10px;
}
form input::placeholder{
    font-weight: 500;
}
form button
{
    background-color: orangered;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    border: 1px solid orangered;
    font-weight: bolder;
    font-size: 15px;
    border-radius:5px ;
    color: white;
}

form button:active{
    transform: translateY(2px);
}

#textarea{
    padding: .5rem;
    outline: 0;
    border: 1px solid burlywood;
    font-weight: 500;
}


@media (max-width:900px){
   
    .searchbar input{
        height: 98%;
        text-indent: .4rem;
    }
    
    .nav-links{
        display: none;
    }
    .menu{
        display: flex;
    }
    .container{
        width: auto;
        margin: 2% 3%;
        font-size: 14px;
        border-radius: 10px;
        border: 1px solid lightblue;
        flex-direction: column-reverse;
        align-items: center;
    }
    .content{
        height: 450px;
        width: 100%;
    }
    form{
        border: 0;
        width: 80%;
    }
    .video-container
    {
        width: 80%;
    }
    
    .contact-details{
        width: auto;
        padding: 10px 50px;
    }
    
    .contact-sec{
        justify-content: center;
        gap: 15px;
    }
}

@media (max-width:500px){
    .navbar{
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .searchbar{
        width: 180px;
        height: 30px;
    }
    .searchbar input{
        width: 100%;
        height: 98%;
        text-indent: .5rem;
    }
    .searchbar img{
        width: 14px;
        margin: 0 5px;
    }
    .container{
        flex-direction: column-reverse;
        width: 95%;
        margin-top: 5%;
    }
    .content, form{
        width: 100%;
    }
    .video-container{
        width: 100%;
    }
    .content{
        height: 350px;
        margin-top: 25px;
    }
    form button{
        margin-top:20px;
    }
}

@media (max-width:320px){
    .searchbar{
        width: 150px;
        height: 30px;
    }
    .searchbar input{
        width: 100%;
        height: 98%;
        text-indent: .5rem;
    }
}