*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgb(252,252,252);
}

.navbar{
    padding: 1% 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(252,252,252);
}

.navbar img{
    width: 35px;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 5%;
}
.nav-left a{
    font-size: 18px;
    font-weight: bold;
    font-family: cursive;
    color: black;
    text-decoration: none;
    text-decoration: overline;
    text-decoration-color: orangered;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    margin-right: 30px;
    list-style-type: none;
}
.nav-links li a{
    margin-right: 15px;
    text-decoration: none;
    color: grey;
    font-weight: 450;
    display: block;
    position: relative;
    transform: 0.5s;
    cursor: pointer;
}

.nav-links li a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color: grey;
}

.nav-links li a:hover{
    color: black;
}
.nav-links li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    padding: 2%;
    height: 35px;
    width:250px;
    border-radius: 50px;
    border: 1px solid lightblue;
    background-color: white;
}
.searchbar input{
    height: 30px;
    width: 200px;
    outline: none;
    border: 0;
    border-right: 2px solid lightblue;
}
.searchbar img{
    width: 20px;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    width: 20px;
    margin-left: 20px;
    /* border: 1px solid yellow; */
    display: none;
}

main{
    padding: 1% 3%;
}

h1{
font-weight: 500;
margin: 10px 0;
}

.btn{
    padding: 5px 15px;
    background-color: white;
    border-radius: 50px;
    margin-right: 5px;
    font-weight: bold;
    border: 1px solid lightblue;
    margin-bottom: 5px;
}
.btn:first-child{
    background-color: black;
    color: white;
    border: 1px solid black;
}
.btn:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
}

button:active{
    transform: translatey(2px);
}
.card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
    margin-top: 15px;
}
.card{
    position: relative;
}
.image{
    width: 100%;
    height: 210px;
    border: 1px solid  rgb(245,245,245);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 0 0 2px 0 lightblue;  */
}
.image span{
    position: absolute;
    left: 1%;
    top:1%;
    background-color: whitesmoke;
    padding: 1% 2%;
    color: rgb(50, 50, 50);
    font-weight: 400;
    border-radius: 10px;
    font-weight: small;
}
.image img{
    width: 60%;
    object-fit: cover;
}
.image:hover img{
    transform: scale(2);
}

.description h3{
    font-weight: 600;
    margin-top: 2px;
}

.description p{
   margin: 5px 0;
   color: rgb(100, 100, 100);
   font-weight: 350;
}
.price{
    color: green;
}
.price span{
    color: grey;
    font-size:17px;
    margin-left: 10px;
    text-decoration:line-through;
}
.dark-version {
   background-color: black;
   color: white;
}

@media (max-width:900px){
    .nav-links{
        display: none;
    }
    .searchbar{
        padding-left: 10px;
    }
    .searchbar input{
        height: 25px;
    }
    .menu{
        display: flex;
    }
    .description h3{
        font-weight: 10px;
    }
}

@media (max-width:500px){
    .image{
        height:180px ;
    }
    .searchbar{
        width: 180px;
        height: 30px;
    }
    .searchbar input{
        width: 100%;
    }
    .searchbar img{
        width: 14px;
        margin: 0 5px;
    }
    .description p{
        font-size: 14px;
    }
}

/* menu list */
.nav-list {
    /* border: 1px solid; */
    position: absolute;
    top: 48px;
    right: 0;
    left: 0;
    z-index: 20;
    height: 0;
    width: 100vw;
    list-style: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    padding: 5% 0;
    color: grey;
    display: none;
    background-color: rgb(252,252,252);
    border-bottom:1px solid lightgrey;
    
}

.nav-list li{
    margin-bottom: 10px;
}
.nav-list a{
    text-decoration: none;
    list-style-type: none;
    color: grey;
    font-size: clamp(small,medium,large);
}

.nav-list a:hover{
    font-weight: bold;
    text-decoration: black;
}

.activeList{
   display: flex;
   height: auto;
   min-height:200px ;  
}

